@import "~bulma/sass/utilities/initial-variables"

// Config vars
$brand: #007CA3
$primary: $brand

html, body
  background-color: #d9d9d9
  font-family: 'Open Sans', sans-serif

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.post-image
  max-width: 600px
  max-height: 300px

.post-detail .post-image
  margin-left: 1.5rem
  margin-bottom: 1rem

div.main-post-content
  padding-top: 0
  padding-left: 0
  padding-bottom: 0

.has-overlay
  background: url('/img/cover.jpg') center top no-repeat
  // background-size: contain
  min-height: 900px // we don't want to have smaller content windows that 900 px to have whole photo visible

.card-footer.no-border
  border: 0

.post-preview-half .card-image
  height: 300px


ul.is-unstyled
  list-style: none
  margin: 0
  padding: 0

.info-box
  font-size: 110%
  line-height: 180%
  padding: 2rem !important
  border-left: 3px $brand solid

@import "~bulma"

// override
.footer
  padding: 3rem 1.5rem 1rem