@import "~bulma/sass/utilities/initial-variables"


// use darker blue due to contrast ratio
$blue: #266AD9

// Medium devices
@mixin rDesktop
  @media (max-width: #{$desktop})
    @content

// Large devices
@mixin rWide
  @media (max-width: #{$widescreen})
    @content

// Extra large devices
@mixin rFull
  @media (min-width: #{$fullhd})
    @content

// Config vars
$brand: #007CA3
$primary: $brand

html, body
  background-color: #d9d9d9
  font-family: 'Open Sans', sans-serif

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.card-image
  background-color: #eaeaea

img.post-image
  max-width: 100%
  max-height: 330px
  width: auto !important
  margin: 0 auto
  @include rFull
    max-width: 100%

.post-detail .post-image
  margin-left: 1.5rem
  margin-bottom: 1rem
  @include rDesktop
    margin-left: 0 !important

div.main-post-content
  padding-top: 0
  padding-left: 0
  padding-bottom: 0
  @include rWide
    padding-left: 1rem
    padding-right: 1rem

.has-overlay
  background: url('/img/cover.jpg') center top no-repeat
  // background-size: contain
  min-height: 900px
  // we don't want to have smaller content windows that 900 px to have whole photo visible
  &.section
    @include rDesktop
      padding: 0

.card-footer.no-border
  border: 0

.post-preview-half .card-image
  @include rFull
    max-height: 330px

ul.is-unstyled
  list-style: none
  margin: 0 0 1rem 0
  padding: 0

.is-rounded img
  border-radius: 290486px

a > svg
  height: 18px
  vertical-align: text-bottom

.info-box
  font-size: 110%
  line-height: 180%
  padding: 1.5rem 2rem !important
  border-left: 3px $brand solid

.pb-0
  padding-bottom: 0 !important

.horizontal-divider
  border-bottom: 3px #eaeaea solid
  margin-bottom: 1.5rem

// override responsive styles
// hover and background on smaller screens
.navbar.is-primary .navbar-start > .navbar-item, .navbar.is-primary .navbar-start .navbar-link, .navbar.is-primary .navbar-end > .navbar-item, .navbar.is-primary .navbar-end .navbar-link
  color: #fff

  &:hover,
  &.is-active
    background-color: #00698a

.navbar > .container
  @include rWide
    text-align: center

.navbar .navbar-end
  // hide github logo on desktop
  @include rDesktop
    display: none

.logo-wrapper
  @include rWide
    margin: 0 auto

.post-detail
  @include rWide
    padding-left: 1rem
    padding-right: 1rem

.post-detail .is-pulled-right
  @include rWide
    float: none !important
    display: block

.team .media-left
  @include rDesktop
    display: none

.shadow
  box-shadow: 0 0 1rem rgba(0, 0, 0, .15)

.main-container
  padding: .5em 1em
  min-height: 500px
  @include rFull
    padding: 2em 3em

.text-column
  position: relative

.text-column .btn-holder
  position: absolute
  right: 0
  bottom: 1rem

@import "~bulma"

// override
.footer
  padding: 3rem 1.5rem 1rem
  border-top: 10px $brand solid

  a:hover
    text-decoration: underline

  .column
    @include rDesktop
      text-align: center !important

hr
  background-color: #d4d4d4


.is-text-content
  margin-bottom: 2rem

  p
    margin-bottom: 1rem

  h1, h2, h3
    font-weight: bold

  h1
    font-size: 1.5rem

  h2
    font-size: 1.25rem

  h3
    font-size: 1rem

  ul
    list-style: initial
    margin-left: 15px

  ol
    margin-left: 20px

